Repository apache/linkis, pull requests merged in 2021-06, with the labels that each got.

#760 Update README.md
  README.md
Labels: documentation

#733 add new linkis-code-orchestrator module
  linkis-orchestrator/linkis-code-orchestrator/pom.xml
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/ast/CodeJob.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/ast/CodeStage.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/execution/CodeExecutionFactory.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/execution/CodeReheaterNotifyTaskConsumer.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/logical/CacheTask.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/logical/CodeLogicalUnitTask.scala
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/logical/CodeLogicalUnitTaskDesc.scala
Labels: component=Orchestrator/code, type=NewFeature

#777 added the packaging function about combined service
  assembly-combined-package/assembly-combined/conf/application-eureka.yml
  assembly-combined-package/assembly-combined/conf/application-linkis.yml
  assembly-combined-package/assembly-combined/conf/linkis-cg-engineconnmanager.properties
  assembly-combined-package/assembly-combined/conf/linkis-cg-engineplugin.properties
  assembly-combined-package/assembly-combined/conf/linkis-cg-entrance.properties
  assembly-combined-package/assembly-combined/conf/linkis-cg-linkismanager.properties
  assembly-combined-package/assembly-combined/conf/linkis-mg-gateway.properties
  assembly-combined-package/assembly-combined/conf/linkis-ps-cs.properties
  assembly-combined-package/assembly-combined/conf/linkis-ps-publicservice.properties
  assembly-combined-package/assembly-combined/conf/linkis.properties
  assembly-combined-package/assembly-combined/conf/log4j2.xml
  assembly-combined-package/assembly-combined/conf/token.properties
  assembly-combined-package/assembly-combined/pom.xml
  assembly-combined-package/assembly-combined/public-module-combined/pom.xml
  assembly-combined-package/assembly-combined/public-module-combined/src/main/assembly/distribution.xml
  assembly-combined-package/assembly-combined/sbin/common.sh
  assembly-combined-package/assembly-combined/sbin/ext/linkis-cg-engineconnmanager
  assembly-combined-package/assembly-combined/sbin/ext/linkis-cg-engineplugin
  assembly-combined-package/assembly-combined/sbin/ext/linkis-cg-entrance
  assembly-combined-package/assembly-combined/sbin/ext/linkis-cg-linkismanager
  assembly-combined-package/assembly-combined/sbin/ext/linkis-common-start
  assembly-combined-package/assembly-combined/sbin/ext/linkis-mg-eureka
  assembly-combined-package/assembly-combined/sbin/ext/linkis-mg-gateway
  assembly-combined-package/assembly-combined/sbin/ext/linkis-ps-cs
  assembly-combined-package/assembly-combined/sbin/ext/linkis-ps-publicservice
  assembly-combined-package/assembly-combined/sbin/linkis-daemon.sh
  assembly-combined-package/assembly-combined/sbin/linkis-start-all.sh
  assembly-combined-package/assembly-combined/sbin/linkis-stop-all.sh
  assembly-combined-package/assembly-combined/src/main/assembly/assembly.xml
  assembly-combined-package/bin/checkEnv.sh
  assembly-combined-package/bin/common.sh
  assembly-combined-package/bin/install-io.sh
  assembly-combined-package/bin/install.sh
  assembly-combined-package/config/db.sh
  assembly-combined-package/config/linkis-env.sh
  assembly-combined-package/pom.xml
  assembly-combined-package/src/main/assembly/assembly.xml
  db/linkis_ddl.sql
  db/linkis_dml.sql
  db/module/linkis-bml.sql
  db/module/linkis-cs.sql
  db/module/linkis_configuration.sql
  db/module/linkis_configuration_dml.sql
  db/module/linkis_ecp.sql
  db/module/linkis_errorcode.sql
  db/module/linkis_instance_label.sql
  db/module/linkis_manager.sql
  db/module/linkis_metadata.sql
  db/module/linkis_query.sql
  db/module/linkis_udf.sql
  db/module/linkis_variable.sql
Labels: component=assembly-combined-package, type=NewFeature

#780 Fix the value conversion problem of RM module in capacity scheduler
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/external/yarn/YarnResourceRequester.scala
Labels: bug

#787 [Fix-786][Bug] Fix the package conflict problem caused by hive version upgrade.
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/assembly/distribution.xml
Labels: bug, component=Computation Governance/EngineConn

#808 Solve compilation and deployment issues
  assembly/pom.xml
  assembly/public-module/pom.xml
  assembly/public-module/src/main/assembly/distribution.xml
  assembly/src/main/assembly/assembly.xml
  db/linkis_dml.sql
  linkis-computation-governance/linkis-engineconn-manager/linkis-engineconn-manager-server/src/main/scala/com/webank/wedatasphere/linkis/ecm/server/service/impl/AbstractEngineConnLaunchService.scala
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/OnceExecutor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/EntranceWebSocketService.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/exception/SubmitFailedException.scala
  linkis-computation-governance/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/spark/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/spark/executor/parser/SparkCombinedCodeParser.scala
  linkis-engineconn-plugins/engineconn-plugins/spark/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/spark/factory/SparkEngineConnFactory.scala
  linkis-engineconn-plugins/engineconn-plugins/spark/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/spark/factory/SparkPythonExecutorFactory.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-loader/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/manager/config/EngineConnPluginLoaderConf.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/java/com/webank/wedatasphere/linkis/engineplugin/server/dao/impl/EngineConnBmlResourceMapper.xml
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/pom.xml
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/java/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/Policy.java
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/ComputationEngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManagerBuilder.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/LoadBalanceLabelEngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/cache/EngineAsyncResponseCache.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/conf/ECMPluginConf.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/Mark.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/MarkReq.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/exception/ECMPluginErrorException.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/EngineAsyncResponseService.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/EngineConnExecutor.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/TaskExecutionReceiver.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/ComputationEngineConnExecutor.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/DefaultEngineAsyncResponseService.scala
  linkis-public-enhancements/distribution.xml
  linkis-public-enhancements/linkis-bml/linkis-bml-client/src/main/scala/com/webank/wedatasphere/linkis/bml/client/impl/HttpBmlClient.scala
  linkis-public-enhancements/linkis-bml/linkis-bml-server/src/main/java/com/webank/wedatasphere/linkis/bml/common/ScheduledTask.java
  linkis-public-enhancements/linkis-bml/linkis-bml-server/src/main/java/com/webank/wedatasphere/linkis/bml/restful/RestfulUtils.java
  linkis-public-enhancements/linkis-publicservice/linkis-configuration/src/main/scala/com/webank/wedatasphere/linkis/configuration/service/CategoryService.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/impl/JobHistoryDetailQueryServiceImpl.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/impl/JobHistoryQueryServiceImpl.scala
Labels: bug, type=Improvement

#818 Rename Application EngineConn in Eureka to Linkis-CG-EngineConn to follow the naming convention& Update README
  README.md
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/conf/GovernaceCommonConf.scala
Labels: component=Computation Governance/EngineConn, documentation, type=Improvement

#821 Fix Orchestrator AsyncExec ResultSet wait didn't get notified bug and remove Orchestrator limit 5000 constraint
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/ComputationOrchestratorSessionFactoryImpl.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/async/AsyncExecTaskRunnerImpl.scala
Labels: bug, component=Orchestrator/Computation, component=Orchestrator/Core

#822 Shutdown all executors instead of only close the default one For multi-executor EngineConns
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultAccessibleService.scala
Labels: component=Computation Governance/EngineConn, type=Improvement

#811 Update README
  README.md
Labels: documentation

#823 Add PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#824 Add PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#825 Solve the recursive calling problem in SparkPythonExecutor's close method
  linkis-engineconn-plugins/engineconn-plugins/spark/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/spark/executor/SparkPythonExecutor.scala
Labels: bug, component=EngineConnPlugins/Spark

#687 Fixed the problem that the jdbc component in the workflow failed to execute because the jdbc attribute information could not be read.
  ujes/definedEngines/jdbc/entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/executer/JDBCEngineExecutorManagerImpl.scala
Labels: type=Improvement
