Repository apache/linkis, pull requests merged in 2021-03, with the labels that each got.

#603 Add the Persistence Module for Linkis Manager to provide the persistence capability.
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/pom.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/PersistenceSpringConfiguration.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/LabelManagerMapper.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/LockManagerMapper.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/NodeManagerMapper.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/NodeMetricManagerMapper.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/ResourceManagerMapper.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/impl/LabelManagerMapper.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/impl/LockManagerMapper.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/impl/NodeManagerMapper.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/impl/NodeMetricManagerMapper.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/dao/impl/ResourceManagerMapper.xml
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/entity/Tunple.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/exception/NodeInstanceDuplicateException.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/exception/NodeInstanceNotFoundException.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/exception/PersistenceErrorException.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/exception/PersistenceWarnException.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/LabelManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/LockManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/ManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/NodeManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/NodeMetricManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/ResourceLabelPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/ResourceManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultLabelManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultLockManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultNodeManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultNodeMetricManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultResourceLabelPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/persistence/impl/DefaultResourceManagerPersistence.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/main/java/com/webank/wedatasphere/linkis/manager/util/PersistenceUtils.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/test/java/PersistenceTest.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/test/java/Scan.java
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/test/resources/linkis.properties
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/test/resources/manager.sql
Labels: component=Computation Governance/Linkis Manager, type=NewFeature

#607 Add the ability of microservice tagging, and support the tagging of each microservice
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-client/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-client/src/main/scala/com/webank/wedatasphere/linkis/instance/label/client/EurekaInstanceLabelClient.scala
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-client/src/main/scala/com/webank/wedatasphere/linkis/instance/label/client/InstanceLabelClient.scala
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/InsLabelAutoConfiguration.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/async/AsyncConsumerQueue.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/async/GenericAsyncConsumerQueue.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/cache/InsLabelCacheConfiguration.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/conf/InsLabelConf.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/InsLabelRelationDao.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/InstanceInfoDao.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/InstanceLabelDao.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/impl/InsLabelRelationMapper.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/impl/InstanceInfoMapper.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/impl/InstanceLabelMapper.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/entity/InsPersistenceLabel.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/entity/InsPersistenceLabelValue.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/entity/InstanceInfo.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/InsLabelAccessService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/InsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/InsLabelServiceAdapter.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/annotation/AdapterMode.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/DefaultInsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/DefaultInsLabelServiceAdapter.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/EurekaInsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/vo/InsPersistenceLabelSearchVo.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/scala/com/webank/wedatasphere/linkis/instance/label/service/InsLabelRpcService.scala
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/scala/com/webank/wedatasphere/linkis/instance/label/service/rpc/DefaultInsLabelRpcService.scala
Labels: component=PublicEnhancements/InstanceLabel, type=NewFeature

#601 Add the EngineConn management plug-in in the Entrance module
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/pom.xml
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/java/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/Policy.java
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/ComputationEngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManagerBuilder.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/cache/EngineAsyncResponseCache.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/conf/ECMPluginConf.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/Mark.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/MarkReq.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/exception/ECMPluginErrorException.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/EngineAsyncResponseService.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/EngineConnExecutor.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/TaskExecutionReceiver.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/ComputationEngineConnExecutor.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/DefaultEngineAsyncResponseService.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/DefaultTaskExecutionReceiver.scala
  linkis-orchestrator/pom.xml
Labels: component=Orchestrator/Plugins, type=NewFeature

#598 Enhance HiveEngine, adapts to Linkis1.0's new architecture.
  linkis-engineconn-plugins/engineconn-plugins/hive/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/java/com/webank/wedatasphere/linkis/engineplugin/hive/log/HiveProgress.java
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/HiveEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/common/HiveUtils.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/conf/HiveEngineConfiguration.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/creation/HiveEngineConnFactory.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/cs/CSHiveHelper.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/entity/HiveSession.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/exception/NotSupportedHiveTypeException.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/executor/HiveEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/hook/HiveAddJarsEngineHook.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/hook/UseDatabaseEngineHook.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/launch/HiveProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/log/LogHelper.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/progress/HiveProgressHelper.scala
Labels: component=EngineConnPlugin/Plugins;, type=Improvement

#593 IOEngine adapts to the Linkis1.0's new architecture, Implement the IO…
  linkis-engineconn-plugins/engineconn-plugins/io_file/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/IoEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/builder/IoProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/conf/IOEngineConnConfiguration.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/domain/FSInfo.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/executor/IoEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/factory/IoEngineConnFactory.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/service/FsProxyService.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/utils/IOHelp.scala
  linkis-engineconn-plugins/engineconn-plugins/io_file/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/io/utils/ReflectionUtils.scala
Labels: component=EngineConnPlugin/Plugins;, type=Improvement

#588 Enhance the ability of RM and integrate it into Linkis Manager
  linkis-computation-governance/linkis-manager/linkis-resource-manager/pom.xml
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/assembly/distribution.xml
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/domain/RMLabelContainer.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/dao/ExternalResourceProviderDao.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/dao/impl/ExternalResourceProviderDaoImpl.xml
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/domain/ExternalAppInfo.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/domain/ExternalResourceIdentifier.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/domain/ExternalResourceProvider.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/parser/ExternalResourceIdentifierParser.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/parser/YarnResourceIdentifierParser.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/request/ExternalResourceRequester.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/service/ExternalResourceService.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/service/impl/ExternalResourceServiceImpl.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/external/yarn/YarnResourceIdentifier.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/restful/vo/ApplicationListVo.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/restful/vo/EngineInstanceVo.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/RMReceiver.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/external/yarn/YarnAppInfo.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/external/yarn/YarnResourceRequester.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/message/RMMessageService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/restful/RMMonitorRest.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/LabelResourceService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/RequestResourceService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/ResourceLockService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/ResourceManager.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/DefaultReqResourceService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/DefaultResourceManager.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/DriverAndYarnReqResourceService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/LabelResourceServiceImpl.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/utils/RMUtils.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/utils/UserConfiguration.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/rpc/utils/SenderUtils.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/test/scala/com/webank/test/TestMain.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/test/scala/com/webank/test/TestResource.scala
Labels: component=Computation Governance/Linkis Manager, type=Improvement

#579 Add top-level design of interactive EngineConn, making it easier for users to implement interactive engine
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/conf/ComputationExecutorConf.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/cs/CSEnginePreExecuteHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/cs/CSResourceParser.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/cs/CSTableRegister.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/entity/CommonEngineConnTask.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/entity/EngineConnTask.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/entity/TaskStatus.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ComputationEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ComputationExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ConcurrentComputationExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/EngineExecutionContext.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/ComputationEngineConnHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/ComputationExecutorHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/listener/ResultSetListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/listener/TaskProgressListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/listener/TaskStatusListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/parser/CodeParser.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/rs/RsOutputStream.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/service/TaskExecutionService.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/service/TaskExecutionServiceImpl.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/utlis/ComputaionEngineContant.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/utlis/ComputationEngineUtils.scala
Labels: component=Computation Governance/EngineConn, type=Improvement

#615 Add the Common Module for Computation Governance.
  linkis-computation-governance/linkis-computation-governance-common/pom.xml
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/ExecutionNodeStatus.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/NodeExistStatus.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestInsertTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestOneTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestPersistTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestQueryTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestReadAllTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/RequestUpdateTask.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/ResponsePersist.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/conf/GovernaceCommonConf.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/exception/DWCJobRetryException.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/exception/engineconn/EngineConnExecutorErrorCode.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/exception/engineconn/EngineConnExecutorErrorException.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/conf/RequestQueryGlobalConfig.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/conf/ResponseQueryConfig.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/engineconn/RequestEngineStatus.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/task/RequestTask.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/task/ResponseEngineConnPid.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/task/ResponseTaskExecute.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/utils/EngineConnArguments.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/utils/GovernanceConstant.scala
Labels: component=Computation Governance/Commons, type=NewFeature

#606 Split EngineReceiver of Linkis0.x into service and encapsulate executor
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/AbstractLogCache.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/LogCache.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/MountLogCache.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/SendAppender.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/TimeLogCache.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/conf/AccessibleExecutorConfiguration.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/conf/AccessibleExecutorSpringConfiguration.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/entity/AccessibleExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/entity/ExecutorStatusInfo.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/info/NodeHealthyInfoManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/info/NodeHeartbeatMsgManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/info/NodeOverLoadInfoManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/ExecutorLockListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/ExecutorStatusListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/LogListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/NodeHealthyListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/event/AccessibleExecutorConnAsyncEvent.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/event/LogUpdateEvent.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/listener/event/TaskEvent.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/lock/EngineConnTimedLock.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/lock/TimedLock.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/LogHelper.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/AccessibleService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultAccessibleService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultExecutorHeartbeatService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultManagerService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/EngineConnTimedLockService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/ExecutorHeartbeatService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/LockService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/LogService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/utils/AccessableExecutorUtils.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/src/main/scala/com/webank/wedatasphere/linkis/engineconn/callback/service/EngineConnAfterStartCallback.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/src/main/scala/com/webank/wedatasphere/linkis/engineconn/callback/service/EngineConnCallback.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/src/main/scala/com/webank/wedatasphere/linkis/engineconn/callback/service/EngineConnPidCallback.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/src/main/scala/com/webank/wedatasphere/linkis/engineconn/callback/service/EngineConnTimedCallback.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/conf/EngineConnExecutorConfiguration.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/entity/Executor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/entity/LabelExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/entity/ResourceExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/entity/SensibleExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/entity/YarnExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/EngineConnAsyncListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/EngineConnAsyncListenerBus.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/EngineConnSyncListener.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/EngineConnSyncListenerBus.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/ExecutorListenerBusContext.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/event/EngineConnAsyncEvent.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/listener/event/EngineConnSyncEvent.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/service/LabelService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/executor/service/ManagerService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/resource-executor/pom.xml
Labels: component=Computation Governance/EngineConn, type=Improvement

#605 Enhance JDBCEngine, adapts to Linkis1.0's new architecture
  linkis-engineconn-plugins/engineconn-plugins/jdbc/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/java/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/ConnectionManager.java
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/JDBCEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/builder/JDBCProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/conf/JDBCConfiguration.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/exception/JDBCParamsIllegalException.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/executer/JDBCEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/executer/JDBCHelper.java
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/executer/JDBCSQLCodeParser.scala
  linkis-engineconn-plugins/engineconn-plugins/jdbc/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/jdbc/factory/JDBCEngineConnFactory.scala
Labels: component=EngineConnPlugin/Plugins;, type=Improvement

#619 Add a new LinkisManager Monitor module to monitor the status of instances managed by LinkisManager.
  linkis-computation-governance/linkis-manager/linkis-manager-monitor/pom.xml
  linkis-computation-governance/linkis-manager/linkis-manager-monitor/src/main/scala/com/webank/wedatasphere/linkis/manager/monitor/conf/ManagerMonitorConf.scala
  linkis-computation-governance/linkis-manager/linkis-manager-monitor/src/main/scala/com/webank/wedatasphere/linkis/manager/monitor/node/NodeHeartbeatMonitor.scala
Labels: component=Computation Governance/Linkis Manager, type=NewFeature

#612 PipelineEngine adapts to the Linkis1.0's new architecture, Implement …
  linkis-engineconn-plugins/engineconn-plugins/pipeline/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/PipelineEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/builder/PipelineEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/conf/PipelineEngineConfiguration.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/constant/PipeLineConstant.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/conversions/FsConvertions.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/exception/PipeLineErrorException.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/CSVExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/CopyExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/ExcelExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/OutputStreamCache.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/PipeLineExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/executor/PipelineEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/pipeline/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/pipeline/factory/PipelineEngineConnFactory.scala
Labels: component=EngineConnPlugin/Plugins;, type=Improvement

#586 Enhance ShellEngine, adapts to Linkis1.0's new architecture.
  linkis-engineconn-plugins/engineconn-plugins/shell/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/shell/ShellEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/shell/builder/ShellProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/shell/exception/NoCorrectUserException.scala
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/shell/executor/ShellEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/shell/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/shell/factory/ShellEngineConnFactory.scala
Labels: component=EngineConnPlugin/Plugins;, type=Improvement

#620 Add the Label Common Module for Linkis Manager to provide basic support of label capability
  linkis-computation-governance/linkis-manager/label-common/pom.xml
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/AbstractGenericLabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/CombinedLabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/DefaultGlobalLabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/ExtensibleLabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/GenericLabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/LabelBuilder.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/LabelBuilderAdapter.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/factory/LabelBuilderFactory.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/factory/LabelBuilderFactoryContext.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/builder/factory/StdLabelBuilderFactory.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/conf/LabelCommonConfig.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/constant/LabelConstant.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/constant/LabelKeyConstant.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/CloneableLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/CombinedLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/CombinedLabelImpl.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/EMNodeLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/EngineNodeLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/Feature.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/FunctionLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/GenericLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/InheritableLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/Label.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/NodeLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/SerializableLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/annon/KeyMethod.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/annon/ValueSerialNum.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/cluster/ClusterLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/config/ConfigurationLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/em/EMInstanceLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/ConcurrentEngineConnLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/EngineBaseInfoLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/EngineInstanceLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/EngineRunTypeLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/EngineType.scala
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/EngineTypeLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/RunType.scala
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/engine/UserCreatorLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/node/AliasServiceInstanceLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/node/NodeInstanceLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/route/RouteLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/entity/search/SearchableLabel.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/exception/LabelErrorException.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/exception/LabelRuntimeException.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/utils/EngineTypeLabelCreator.java
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/utils/LabelUtils.java
Labels: component=Computation Governance/Linkis Manager, type=NewFeature

#621 Enhance the EngineConn-Core Module, provide the abstractions and interfaces of the core functions.
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/EngineConnObject.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/engineconn/EngineConnManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/executor/ExecutorManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/hook/ShutdownHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/util/EngineConnUtils.scala
Labels: component=Computation Governance/EngineConn, type=Improvement

#625 Enhance the label management function of Linkis, so it can manage the Label of EngineConnManager and EngineConn
  linkis-computation-governance/linkis-manager/label-manager/pom.xml
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/score/DefaultNodeLabelScorer.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/score/LabelScoreServiceInstance.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/score/NodeLabelScorer.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/NodeLabelAddService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/NodeLabelRemoveService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/NodeLabelService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/ResourceLabelService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/UserLabelService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultNodeLabelAddService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultNodeLabelRemoveService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultNodeLabelService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultResourceLabelService.scala
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultUserLabelService.scala
Labels: component=Computation Governance/Linkis Manager, type=NewFeature

#628 Add Linkis-resource-manager-common Module
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/pom.xml
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/exception/RMErrorException.java
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/exception/RMFatalException.java
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/exception/RMWarnException.java
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/protocol/TimeoutEMEngineRequest.java
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/java/com/webank/wedatasphere/linkis/resourcemanager/protocol/TimeoutEMEngineResponse.java
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/RMRPCFormats.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/ResourceManagerParam.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/ResultResource.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-resource-manager-common/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/utils/RMConfiguration.scala
Labels: component=Computation Governance/Linkis Manager, type=Improvement

#623 Add the common module of EngineConn of Linkis1.0 architecture
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/conf/EngineConnConf.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/conf/EngineConnConstant.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/creation/EngineCreationContext.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/engineconn/EngineConn.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/exception/EngineConnException.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/execution/EngineExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/hook/EngineConnHook.scala
  linkis-computation-governance/linkis-engineconn/pom.xml
Labels: component=Computation Governance/EngineConn, type=Improvement

#627 Enhance scritps for starting and shutting down services, optimize steps of construction.
  assembly/pom.xml
  assembly/public-module/pom.xml
  assembly/public-module/src/main/assembly/distribution.xml
  assembly/src/main/assembly/assembly.xml
  bin/checkEnv.sh
  bin/checkServices.sh
  bin/common.sh
  bin/install.sh
  bin/start-all.sh
  bin/stop-all.sh
  conf/linkis-env.sh
  conf/linkis.properties
  db/linkis_ddl.sql
  db/linkis_dml.sql
  db/module/linkis-bml.sql
  db/module/linkis-datasource.sql
  db/module/linkis_application.sql
  db/module/linkis_configuration.sql
  db/module/linkis_configuration_dml.sql
  db/module/linkis_ecp.sql
  db/module/linkis_instance_label.sql
  db/module/linkis_manager.sql
  db/module/linkis_query.sql
  sbin/ext/linkis-cg-engineconnmanager
  sbin/ext/linkis-cg-engineplugin
  sbin/ext/linkis-cg-entrance
  sbin/ext/linkis-cg-linkismanager
  sbin/ext/linkis-mg-eureka
  sbin/ext/linkis-mg-gateway
  sbin/ext/linkis-ps-bml
  sbin/ext/linkis-ps-cs
  sbin/ext/linkis-ps-datasource
  sbin/ext/linkis-ps-publicservice
  sbin/linkis-daemon.sh
  sbin/linkis-start-all.sh
  sbin/linkis-stop-all.sh
Labels: component=assembly, component=bin, component=conf, component=db, component=sbin, type=Improvement

#631 Add the linkis-manager-service-common module, it can be used by AppManager and ResourceManager
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/pom.xml
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/label/LabelChecker.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/label/LabelFilter.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/label/ManagerLabelService.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/metrics/MetricsConverter.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/pointer/EMNodPointer.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/pointer/EngineNodePointer.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/pointer/NodePointer.scala
  linkis-computation-governance/linkis-manager/linkis-manager-commons/linkis-manager-service-common/src/main/scala/com/webank/wedatasphere/linkis/manager/service/common/pointer/NodePointerBuilder.scala
Labels: component=Computation Governance/Linkis Manager, type=NewFeature

#634 Enhance linkis-entrance-client to adapt to the architecture of Linkis1.0
  linkis-computation-governance/linkis-entrance-client/pom.xml
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entrance/execute/EntranceReceiverUtils.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientEngineBuilderBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientEngineRequesterBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientEngineSelectorBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientEntranceParserBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientGroupFactoryBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/ClientInterceptorsBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/annotation/DefaultEntranceClientBeanAnnotation.java
  linkis-computation-governance/linkis-entrance-client/src/main/java/com/webank/wedatasphere/linkis/entranceclient/conf/ClientSpringConfiguration.java
  linkis-computation-governance/linkis-entrance-client/src/main/resources/META-INF/spring.factories
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/EngineApplicationNameFactory.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/EntranceClient.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/EntranceClientImpl.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/conf/ClientConfiguration.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/conf/ClientForEntranceSpringConfiguration.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/conf/MultiEntranceCondition.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/context/ClientEntranceParser.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/context/ClientLogManager.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/context/ClientPersistenceEngine.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/context/ClientPersistenceManager.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/context/ClientTask.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/AbstractClientEngineSelector.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/ClientEngineBuilder.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/ClientEngineManager.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/ClientEngineRequester.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/ClientEntranceExecutorManager.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/execute/ClientJob.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/entranceclient/scheduler/ClientGroupFactory.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/rpc/ClientNewEngineBroadcastListener.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/rpc/ClientReceiverChooser.scala
  linkis-computation-governance/linkis-entrance-client/src/main/scala/com/webank/wedatasphere/linkis/rpc/ClientResponseEngineStatusChangedBroadcastListener.scala
Labels: component=ComputationGovernance/EntranceClient, type=Improvement

#640 Enhance the encryption function of linkis-common
  linkis-commons/linkis-common/pom.xml
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/exception/DWCRuntimeException.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/exception/FatalException.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/exception/WarnException.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/io/Fs.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/io/FsPath.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/utils/ByteTimeUtils.java
  linkis-commons/linkis-common/src/main/java/com/webank/wedatasphere/linkis/common/utils/DESUtil.java
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/conf/BDPConfiguration.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/conf/CommonVars.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/conf/Configuration.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/conf/DWCArgumentsParser.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/listener/ListenerEventBus.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/JsonUtils.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/OverloadUtils.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/RSAUtils.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/RetryHandler.scala
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/Utils.scala
Labels: component=Commons/linkis-common, type=Improvement

#642 Add the launch module of EngineConn of Linkis1.0 architecture
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-launch/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-launch/src/main/scala/com/webank/wedatasphere/linkis/engineconn/launch/EngineConnServer.scala
Labels: component=Computation Governance/EngineConn, type=Improvement

#647 Enhance linkis-hadoop module to support multi-cluster function
  linkis-commons/linkis-hadoop-common/pom.xml
  linkis-commons/linkis-hadoop-common/src/main/scala/com/webank/wedatasphere/linkis/hadoop/common/conf/HadoopConf.scala
  linkis-commons/linkis-hadoop-common/src/main/scala/com/webank/wedatasphere/linkis/hadoop/common/utils/HDFSUtils.scala
Labels: component=Commons/linkis-hadoop, type=Improvement

#646 Update the spark-excel module to version dev-1.0.0
  linkis-extensions/spark-excel/pom.xml
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/DefaultSource.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/DefaultSource15.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/ExcelFileSaver.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/ExcelRelation.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/InferSchema.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/package.scala
Labels: component=Extensions/SparkExcel, type=Improvement

#651 Optimize linkis-mybatis module to integrate mybatis-plus
  linkis-commons/linkis-mybatis/pom.xml
  linkis-commons/linkis-mybatis/src/main/java/com/webank/wedatasphere/linkis/mybatis/MybatisConfigurationFactory.java
Labels: component=Commons/linkis-mybatis, type=Improvement

#658 Optimize the implementation of the serializer of the linkis-rpc module
  linkis-commons/linkis-rpc/pom.xml
  linkis-commons/linkis-rpc/src/main/java/com/webank/wedatasphere/linkis/rpc/serializer/NoneDelegate.java
  linkis-commons/linkis-rpc/src/main/java/com/webank/wedatasphere/linkis/rpc/serializer/ProtostuffSerializeUtil.java
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/conf/RPCConfiguration.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/conf/RPCSpringConfiguration.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/instancealias/InstanceAliasManager.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/instancealias/impl/InstanceAliasManagerImpl.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/interceptor/common/CacheableRPCInterceptor.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/interceptor/common/RetryableRPCInterceptor.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/sender/SpringCloudFeignConfigurationCache.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/sender/SpringMVCRPCSender.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/sender/UnionSender.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/sender/eureka/EurekaRPCServerLoader.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/transform/JavaCollectionSerializer.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/transform/RPCConsumer.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/transform/RPCProduct.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/utils/RPCUtils.scala
Labels: component=Commons/linkis-rpc, type=Improvement

#661 Enhance the linkis-scheduler module to automatically clean up idle Consumers
  linkis-commons/linkis-scheduler/pom.xml
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/Scheduler.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/conf/SchedulerConfiguration.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/AbstractExecutor.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/ExecuteRequest.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/ExecuteResponse.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/Executor.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/ExecutorManager.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/executer/SingleTaskInfoSupport.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/listener/ExecutorListener.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/Consumer.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/Job.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/JobInfo.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/SchedulerEvent.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/fifoqueue/FIFOGroupFactory.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/fifoqueue/FIFOScheduler.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/fifoqueue/FIFOUserConsumer.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/parallelqueue/ParallelConsumerManager.scala
  linkis-commons/linkis-scheduler/src/main/scala/com/webank/wedatasphere/linkis/scheduler/queue/parallelqueue/ParallelGroupFactory.scala
Labels: component=Commons/linkis-scheduler, type=Improvement

#667 Enhance linkis-user-control module, adapts to Linkis1.0's new architecture
  linkis-public-enhancements/linkis-user-control/conf/application.yml
  linkis-public-enhancements/linkis-user-control/conf/linkis.properties
  linkis-public-enhancements/linkis-user-control/conf/log4j2.xml
  linkis-public-enhancements/linkis-user-control/pom.xml
  linkis-public-enhancements/linkis-user-control/src/main/assembly/distribution.xml
  linkis-public-enhancements/linkis-user-control/src/main/scala/com/webank/wedatasphere/linkis/usercontrol/receiver/UserControlReceiver.scala
  linkis-public-enhancements/linkis-user-control/src/main/scala/com/webank/wedatasphere/linkis/usercontrol/receiver/UserControlReceiverChooser.scala
  linkis-public-enhancements/linkis-user-control/src/main/scala/com/webank/wedatasphere/linkis/usercontrol/service/UserControlService.scala
  linkis-user-control/bin/start-usercontrol.sh
  linkis-user-control/bin/stop-usercontrol.sh
  linkis-user-control/conf/log4j.properties
  linkis-user-control/src/main/assembly/distribution.xml
Labels: component=Public Enhancements/linkis-user-control, type=Improvement

#676 Enhance PythonEngineConn, adatps to Linkis1.0 architecture #674
  linkis-engineconn-plugins/engineconn-plugins/python/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/py4j/py4j-0.10.7-src.zip
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/py4j/pyspark.zip
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/resources/python/python.py
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/PythonEngineConnPlugin.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/conf/PythonEngineConfiguration.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/exception/NoSupportEngineException.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/exception/PythonSessionNullException.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/executor/PythonEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/executor/PythonSession.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/factory/PythonEngineConnFactory.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/hook/PythonVersionEngineHook.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/launch/PythonProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/utils/Kind.scala
  linkis-engineconn-plugins/engineconn-plugins/python/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/python/utils/State.scala
Labels: component=Computation Governance/EngineConn, type=Improvement

#680 Add some pictures for Linkis1.0 new architecture.
  images/zh_CN/Linkis1.0/architecture/Linkis0.X-NewEngine-architecture.png
  images/zh_CN/Linkis1.0/architecture/Linkis1.0-EngineConn-architecture.png
  images/zh_CN/Linkis1.0/architecture/Linkis1.0-NewEngine-architecture.png
  images/zh_CN/Linkis1.0/architecture/Linkis1.0-architecture.png
  images/zh_CN/Linkis1.0/architecture/Linkis1.0-newEngine-initialization.png
  images/zh_CN/Linkis1.0/installation/Linkis0.X-services-list.png
  images/zh_CN/Linkis1.0/installation/Linkis1.0-services-list.png
Labels: component=Docs

#682 Modify the return of the job submit method
  linkis-computation-governance/linkis-computation-client/src/main/scala/com/webank/wedatasphere/linkis/ujes/client/UJESClient.scala
  linkis-computation-governance/linkis-computation-client/src/main/scala/com/webank/wedatasphere/linkis/ujes/client/response/JobSubmitResult.scala
Labels: type=Improvement

#681 Update the readme file.
  docs/zh_CN/README.md
Labels: component=Docs

#683 Update the readme file.
  README-ZH.md
  README.md
  docs/zh_CN/SUMMARY.md
  images/en_US/Linkis1.0/architecture/Linkis1.0-architecture.png
Labels: component=Docs
