Repository apache/linkis, pull requests merged in 2021-05, with the labels that each got.

#715 Fixed Python、PySpark、Scala result set download CSV file without line braaks
  storage/storage/src/main/scala/com/webank/wedatasphere/linkis/storage/script/writer/StorageScriptFsWriter.scala
Labels: bug

#718 Update documents
  Contributing_CN.md
  README-ZH.md
  README.md
  README_CN.md
  images/Linkis_1.0_architecture.png
  images/after_linkis_cn.png
  images/before_linkis_cn.png
  images/wedatasphere_contact_01.png
  images/wedatasphere_stack_Linkis.png
Labels: documentation

#722 Update documents
  Contributing_CN.md
  README-ZH.md
  README.md
  README_CN.md
  images/Linkis_1.0_architecture.png
  images/after_linkis_cn.png
  images/before_linkis_cn.png
  images/wedatasphere_contact_01.png
  images/wedatasphere_stack_Linkis.png
Labels: documentation

#729 Solve the problem that cookies does not take effect after login, and cookies added to Action is not delivered to gateway by the HttpClient.
  linkis-commons/linkis-httpclient/src/main/scala/com/webank/wedatasphere/linkis/httpclient/AbstractHttpClient.scala
Labels: component=Commons/linkis-httpclient

#737 Provided linkis-once-engineconn module that support case of one-time task.
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/pom.xml
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/OnceExecutor.scala
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/OnceExecutorExecutionContext.scala
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/creation/OnceExecutorFactory.scala
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/exception/OnceEngineConnErrorException.scala
  linkis-computation-governance/linkis-engineconn/inkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/execution/OnceEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/pom.xml
Labels: component=Computation Governance/EngineConn, type=NewFeature

#739 Add the Linkis interactive scene task Orchestrate module
  linkis-orchestrator/linkis-computation-orchestrator/pom.xml
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/ComputationOrchestratorSessionFactory.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/ComputationOrchestratorSessionFactoryImpl.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/CodeConverterTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/exception/CodeCheckException.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/exception/LimitCheckException.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/exception/PythonCodeCheckException.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/exception/SensitiveTablesCheckException.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/exception/VarSubstitutionException.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/CommentConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/CustomVariableUtils.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/Explain.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/JobReqParamCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/PythonCodeConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/SQLCodeCheckConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/SQLLimitConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/ScalaCodeConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/ShellDangerousGrammarConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/SparkCodeCheckConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/converter/ruler/VarSubstitutionConverterCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/CacheTaskOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/ConfigurationOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/PlaybackOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/SimplifyOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/YarnQueueOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/parser/DefaultCodeJobParserTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/parser/EnrichLabelParserTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/parser/label/CacheParserLabelFiller.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/parser/label/ParserLabelFiller.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/physical/AbstractPhysicalTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/physical/ComputePhysicalTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/planner/TaskPlannerTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/reheater/PruneTaskReheaterTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/validator/DefaultLabelRegularCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/validator/LabelRegularCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/validator/RouteLabelRegularCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/conf/ComputationOrchestratorConf.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/entity/ComputationJobReq.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/CodeExecTaskExecutor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/CodeExecTaskExecutorManager.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/DefaultCodeExecTaskExecutorManager.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/monitor/EngineConnMonitor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/log/LogEvent.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/log/LogOperation.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/log/LogProcessor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/progress/AbstractProgressOperation.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/progress/DefaultProgressOperation.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/progress/ProgressInfoEvent.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/progress/ProgressProcessor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/physical/CacheExecTask.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/physical/CodeLogicalUnitExecTask.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/service/ComputationTaskExecutionReceiver.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/utils/ComputationOrchestratorUtils.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/utils/TaskTreeUtil.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/utils/TreeNodeUtil.scala
  linkis-orchestrator/pom.xml
Labels: component=Orchestrator/Computation, type=NewFeature
