Repository apache/linkis, pull requests merged in 2021-07, with the labels that each got.

#706 fix bmlclient bug
  bml/bmlclient/src/main/java/com/webank/wedatasphere/linkis/bml/client/BmlClientFactory.java
  bml/bmlclient/src/main/scala/com/webank/wedatasphere/linkis/bml/client/impl/HttpBmlClient.scala
Labels: bug

#876 [#872]Optimize RPC caching function and HDFS FileSystem to support caching
  linkis-commons/linkis-hadoop-common/pom.xml
  linkis-commons/linkis-hadoop-common/src/main/scala/com/webank/wedatasphere/linkis/hadoop/common/conf/HadoopConf.scala
  linkis-commons/linkis-hadoop-common/src/main/scala/com/webank/wedatasphere/linkis/hadoop/common/entity/HDFSFileSystemContainer.scala
  linkis-commons/linkis-hadoop-common/src/main/scala/com/webank/wedatasphere/linkis/hadoop/common/utils/HDFSUtils.scala
  linkis-commons/linkis-rpc/src/main/scala/com/webank/wedatasphere/linkis/rpc/interceptor/common/CacheableRPCInterceptor.scala
  linkis-commons/linkis-storage/pom.xml
  linkis-commons/linkis-storage/src/main/java/com/webank/wedatasphere/linkis/storage/exception/StorageErrorCode.java
  linkis-commons/linkis-storage/src/main/java/com/webank/wedatasphere/linkis/storage/factory/impl/BuildLocalFileSystem.java
  linkis-commons/linkis-storage/src/main/java/com/webank/wedatasphere/linkis/storage/fs/impl/HDFSFileSystem.java
  linkis-commons/linkis-storage/src/main/java/com/webank/wedatasphere/linkis/storage/fs/impl/LocalFileSystem.java
  linkis-commons/linkis-storage/src/main/scala/com/webank/wedatasphere/linkis/storage/source/FileSource.scala
  linkis-commons/linkis-storage/src/main/scala/com/webank/wedatasphere/linkis/storage/source/FileSplit.scala
  linkis-commons/linkis-storage/src/main/scala/com/webank/wedatasphere/linkis/storage/utils/StorageUtils.scala
Labels: component=Commons/linkis-hadoop, component=Commons/linkis-rpc, type=NewFeature

#881 fix "Support to modify and remove instance tag information" and "Support for storing raw code submitted by users"
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-client/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-client/src/main/scala/com/webank/wedatasphere/linkis/instance/label/client/EurekaInstanceLabelClient.scala
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/InstanceInfoDao.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/dao/impl/InstanceInfoMapper.xml
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/restful/InstanceRestful.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/InsLabelAccessService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/InsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/DefaultInsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/DefaultInsLabelServiceAdapter.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/java/com/webank/wedatasphere/linkis/instance/label/service/impl/EurekaInsLabelService.java
  linkis-public-enhancements/linkis-publicservice/linkis-instance-label/linkis-instance-label-server/src/main/scala/com/webank/wedatasphere/linkis/instance/label/service/rpc/DefaultInsLabelRpcService.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/java/com/webank/wedatasphere/linkis/jobhistory/cache/impl/QueryCacheServiceImpl.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/java/com/webank/wedatasphere/linkis/jobhistory/dao/impl/JobHistoryMapper.xml
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/java/com/webank/wedatasphere/linkis/jobhistory/entity/JobHistory.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/java/com/webank/wedatasphere/linkis/jobhistory/restful/api/QueryRestfulApi.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/java/com/webank/wedatasphere/linkis/jobhistory/transitional/TaskStatus.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/conf/JobhistoryConfiguration.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/conversions/TaskConversions.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/JobHistoryDetailQueryService.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/JobHistoryQueryService.java
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/impl/JobHistoryDetailQueryServiceImpl.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/service/impl/JobHistoryQueryServiceImpl.scala
  linkis-public-enhancements/linkis-publicservice/linkis-jobhistory/src/main/scala/com/webank/wedatasphere/linkis/jobhistory/util/QueryUtils.scala
Labels: component=Public Enhancements/Publicservice, component=PublicEnhancements/InstanceLabel, type=NewFeature

#888 Delete unused directories
  bin/checkEnv.sh
  bin/checkServices.sh
  bin/common.sh
  bin/install.sh
  conf/db.sh
  conf/linkis-env.sh
  conf/linkis.properties
  db/linkis_dml.sql
  linkis-extensions/spark-excel/pom.xml
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/DefaultSource.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/DefaultSource15.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/ExcelFileSaver.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/ExcelRelation.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/InferSchema.scala
  linkis-extensions/spark-excel/src/main/scala/com/webank/wedatasphere/spark/excel/package.scala
  sbin/ext/linkis-cg-engineconnmanager
  sbin/ext/linkis-cg-engineplugin
  sbin/ext/linkis-cg-entrance
  sbin/ext/linkis-cg-linkismanager
  sbin/ext/linkis-mg-eureka
  sbin/ext/linkis-mg-gateway
  sbin/ext/linkis-ps-bml
  sbin/ext/linkis-ps-cs
  sbin/ext/linkis-ps-datasource
  sbin/ext/linkis-ps-publicservice
  sbin/linkis-daemon.sh
  sbin/linkis-start-all.sh
  sbin/linkis-stop-all.sh
Labels: bug

#885 Fixed some bugs in linkis-engineconn module.
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-once-engineconn/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/OnceExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/creation/OnceExecutorFactory.scala
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-once-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/once/executor/execution/OnceEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-clustered-engineconn/linkis-streaming-engineconn/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/conf/ComputationExecutorConf.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/creation/ComputationExecutorFactory.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/creation/ComputationExecutorManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/cs/CSEnginePreExecuteHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ComputationEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ComputationExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/ConcurrentComputationExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/execute/EngineExecutionContext.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/ComputationEngineConnHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/ComputationExecutorHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/InitSQLHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/UDFLoadEngineConnHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/UseDatabaseEngineHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/executor/EngineResultsetPrefixExecutorHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/service/TaskExecutionService.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/service/TaskExecutionServiceImpl.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/utlis/ComputationEngineConstant.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-common/src/main/scala/com/webank/wedatasphere/linkis/engineconn/common/conf/EngineConnConf.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/engineconn/EngineConnManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/exception/EngineConnErrorCode.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/exception/EngineConnFatalException.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/execution/AbstractEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/execution/EngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-core/src/main/scala/com/webank/wedatasphere/linkis/engineconn/core/executor/ExecutorManager.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/java/com/webank/wedatasphere/linkis/engineconn/acessible/executor/log/MountLogCache.java
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/entity/AccessibleExecutor.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/execution/AccessibleEngineConnExecution.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/lock/EngineConnTimedLock.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultAccessibleService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultExecutorHeartbeatService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/DefaultManagerService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/accessible-executor/src/main/scala/com/webank/wedatasphere/linkis/engineconn/acessible/executor/service/EngineConnTimedLockService.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/callback-service/src/main/scala/com/webank/wedatasphere/linkis/engineconn/callback/hook/CallbackEngineConnHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/executor-core/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-executor/resource-executor/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-launch/pom.xml
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-launch/src/main/scala/com/webank/wedatasphere/linkis/engineconn/launch/EngineConnServer.scala
  linkis-computation-governance/linkis-engineconn/pom.xml
Labels: bug, component=Computation Governance/EngineConn

#894 Optimize the error code of ioClient and isolate a separate Orchestrator
  assembly-combined-package/assembly-combined/conf/log4j2.xml
  assembly-combined-package/bin/install-io.sh
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-cache/pom.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-core/pom.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-core/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/common/conf/EnvConfiguration.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-core/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/common/launch/process/JavaProcessEngineConnLaunchBuilder.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-core/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/common/resource/UserNodeResource.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-core/src/main/scala/com/webank/wedatasphere/linkis/manager/engineplugin/common/resource/UserTimeoutNodeResource.scala
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-loader/pom.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/pom.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/assembly/distribution.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/resources/application.yml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/resources/linkis-server.properties
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/resources/log4j2.xml
  linkis-engineconn-plugins/linkis-engineconn-plugin-framework/linkis-engineconn-plugin-server/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/server/service/DefaultEngineConnLaunchService.scala
  linkis-extensions/linkis-io-file-client/pom.xml
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/client/DefaultIOClient.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/conf/IOFileClientConf.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/orchestrator/IOComputationOrchestratorSessionFactory.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/orchestrator/IOFileOrchestratorFactory.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/orchestrator/IOTaskPlannerTransform.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/orchestrator/IOUserParallelOrchestratorPlugin.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/utils/IOClientUtils.scala
Labels: component=Orchestrator/Core, type=NewFeature

#891 fix: When killing a complex hive task, Hive MR of Yarn is not simultaneously killed, which results in task failuer. #843
  linkis-engineconn-plugins/engineconn-plugins/hive/pom.xml
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/resources/linkis-engineconn.properties
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/resources/log4j2-engineconn.xml
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/creation/HiveEngineConnFactory.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/executor/HiveEngineConnExecutor.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/hook/HiveAddJarsEngineHook.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/hook/HiveAddMetaTableNameHook.scala
  linkis-engineconn-plugins/engineconn-plugins/hive/src/main/scala/com/webank/wedatasphere/linkis/engineplugin/hive/hook/UseDatabaseEngineHook.scala
Labels: component=EngineConnPlugins/Hive, type=NewFeature

#859 fixed( issues #832)Rename the package after front end build #832
  web/config.sh
  web/install.sh
  web/vue.config.js
Labels: bug

#895 Some bugs in linkis-entrance module need to be fixed.
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/InitSQLHook.scala
  linkis-computation-governance/linkis-engineconn/linkis-computation-engineconn/src/main/scala/com/webank/wedatasphere/linkis/engineconn/computation/executor/hook/UseDatabaseEngineHook.scala
  linkis-computation-governance/linkis-entrance/pom.xml
  linkis-computation-governance/linkis-entrance/src/main/assembly/distribution.xml
  linkis-computation-governance/linkis-entrance/src/main/java/com/webank/wedatasphere/linkis/entrance/conf/EntranceSpringConfiguration.java
  linkis-computation-governance/linkis-entrance/src/main/java/com/webank/wedatasphere/linkis/entrance/context/DefaultEntranceContext.java
  linkis-computation-governance/linkis-entrance/src/main/java/com/webank/wedatasphere/linkis/entrance/exception/EntranceErrorCode.java
  linkis-computation-governance/linkis-entrance/src/main/java/com/webank/wedatasphere/linkis/entrance/persistence/QueryPersistenceManager.java
  linkis-computation-governance/linkis-entrance/src/main/java/com/webank/wedatasphere/linkis/entrance/restful/EntranceRestfulApi.java
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/EntranceContext.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/EntranceServer.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/conf/EntranceConfiguration.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/execute/DefaultEntranceExecutor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/execute/EntranceExecutor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/execute/EntranceJob.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/OnceJobInterceptor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/impl/CSEntranceInterceptor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/impl/CustomVariableUtils.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/impl/Explain.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/impl/LabelCheckInterceptor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/interceptor/impl/ShellDangerousGrammerInterceptor.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/log/CacheLogReader.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/log/ErrorCodeManager.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/parser/CommonEntranceParser.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/restful/EntranceRestfulRemote.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/scheduler/EntranceGroupFactory.scala
  linkis-computation-governance/linkis-entrance/src/main/scala/com/webank/wedatasphere/linkis/entrance/utils/JobHistoryHelper.scala
Labels: bug, component=Computation Governance/linkis-entrance

#898 Fix the bug of Orchestrator performance and udfCLient get method function
  linkis-orchestrator/linkis-code-orchestrator/pom.xml
  linkis-orchestrator/linkis-code-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/code/plans/logical/CodeLogicalUnitTaskDesc.scala
  linkis-orchestrator/linkis-computation-orchestrator/pom.xml
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/ComputationOrchestratorSessionFactory.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/ComputationOrchestratorSessionFactoryImpl.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/PlaybackOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/optimizer/YarnQueueOptimizer.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/physical/AbstractPhysicalTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/planner/TaskPlannerTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/reheater/PruneTaskReheaterTransform.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/catalyst/validator/LabelRegularCheckRuler.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/conf/ComputationOrchestratorConf.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/CodeExecTaskExecutor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/CodeExecTaskExecutorManager.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/execute/DefaultCodeExecTaskExecutorManager.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/monitor/EngineConnMonitor.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/operation/progress/AbstractProgressOperation.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/physical/CodeLogicalUnitExecTask.scala
  linkis-orchestrator/linkis-computation-orchestrator/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/computation/service/ComputationTaskExecutionReceiver.scala
  linkis-orchestrator/linkis-orchestrator-core/pom.xml
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/conf/OrchestratorConfiguration.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/converter/AbstractConverter.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/AbstractExecution.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/BaseTaskScheduler.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/DefaultTaskManager.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/UserRunningNumber.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/UserTaskRunnerQueue.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/extensions/catalyst/TransformFactory.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/listener/task/TaskInfoEvent.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/optimizer/AbstractOptimizer.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/parser/AbstractParser.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/planner/AbstractPlanner.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/plans/physical/ExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/plans/physical/PhysicalContextImpl.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/plans/physical/RetryExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/reheater/AbstractReheater.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/GatherStrategyJobExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/GatherStrategyStageInfoExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/StatusInfoExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/async/AsyncExecTask.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/async/AsyncExecTaskRunnerImpl.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/strategy/async/AsyncTaskManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/pom.xml
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/ComputationEngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/EngineConnManagerBuilder.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/LoadBalanceLabelEngineConnManager.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/cache/EngineAsyncResponseCache.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/conf/ECMPluginConf.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/Mark.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/entity/MarkReq.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/EngineConnExecutor.scala
  linkis-orchestrator/plugin/linkis-orchestrator-ecm-plugin/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/ecm/service/impl/ComputationEngineConnExecutor.scala
  linkis-orchestrator/pom.xml
  linkis-public-enhancements/linkis-publicservice/linkis-udf/linkis-udf-client/src/main/scala/com/webank/wedatasphere/linkis/udf/UDFClient.scala
  linkis-spring-cloud-services/linkis-service-gateway/linkis-gateway-httpclient-support/src/main/scala/com/webank/wedatasphere/linkis/httpclient/dws/DWSHttpClient.scala
Labels: bug, component=Commons/linkis-httpclient, component=Orchestrator/Core

#903 Add source information in RequestTask.
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/job/JobRequest.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/java/com/webank/wedatasphere/linkis/governance/common/entity/task/ResponsePersist.java
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/conf/RequestQueryGlobalConfig.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/job/JobDetailReqProcotol.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/job/JobReqProcotol.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/protocol/task/RequestTask.scala
  linkis-computation-governance/linkis-computation-governance-common/src/main/scala/com/webank/wedatasphere/linkis/governance/common/utils/OnceExecutorContentUtils.scala
  linkis-computation-governance/linkis-engineconn-manager/linkis-engineconn-manager-server/src/main/scala/com/webank/wedatasphere/linkis/ecm/server/hook/JarUDFLoadECMHook.scala
  linkis-computation-governance/linkis-manager/label-common/src/main/java/com/webank/wedatasphere/linkis/manager/label/conf/LabelCommonConfig.java
  linkis-computation-governance/linkis-manager/label-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/label/service/impl/DefaultResourceLabelService.scala
  linkis-computation-governance/linkis-manager/linkis-application-manager/src/main/scala/com/webank/wedatasphere/linkis/manager/am/manager/DefaultEngineNodeManager.scala
  linkis-computation-governance/linkis-manager/linkis-manager-persistence/src/test/java/PersistenceTest.java
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/RequestResourceService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/ResourceLockService.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/DefaultResourceManager.scala
  linkis-computation-governance/linkis-manager/linkis-resource-manager/src/main/scala/com/webank/wedatasphere/linkis/resourcemanager/service/impl/LabelResourceServiceImpl.scala
  linkis-extensions/linkis-io-file-client/src/main/scala/com/webank/wedatasphere/linkis/storage/io/orchestrator/IOTaskPlannerTransform.scala
  linkis-extensions/pom.xml
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/NotifyTaskConsumer.scala
  linkis-orchestrator/linkis-orchestrator-core/src/main/scala/com/webank/wedatasphere/linkis/orchestrator/execution/impl/UserRunningNumber.scala
Labels: type=NewFeature

#907 HTTPClient supports setting contentType when uploading files
  linkis-commons/linkis-common/src/main/scala/com/webank/wedatasphere/linkis/common/utils/Utils.scala
  linkis-commons/linkis-httpclient/src/main/scala/com/webank/wedatasphere/linkis/httpclient/AbstractHttpClient.scala
  linkis-commons/linkis-httpclient/src/main/scala/com/webank/wedatasphere/linkis/httpclient/request/UploadAction.scala
  linkis-computation-governance/linkis-engineconn/linkis-engineconn-launch/src/main/scala/com/webank/wedatasphere/linkis/engineconn/launch/EngineConnServer.scala
Labels: bug, component=Commons/linkis-httpclient
